body {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);

  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

input {
  margin: 20px;
  padding: 15px;
  width: 30%;
  background: white;
  text-align: center;
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
}

.App {
  text-align: center;
}

.description {
  width: 50%;
  margin: 20px auto;
}

.meaning {
  margin: 20px auto;
  font-size: 1.5rem;
  font-weight: bold;
}

.clearButton {
  background-image: linear-gradient(
    to right,
    #1cd8d2 0%,
    #93edc7 51%,
    #1cd8d2 100%
  );
}
.clearButton {
  margin: 20px;
  padding: 20px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none;

  /* display: block; */
}

.clearButton:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.description {
  font-size: 1.3rem;
}

.emoji-showcase {
  width: 50%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.emoji-showcase-element {
  margin: 10px;
  background: white;
  padding: 20px;
  text-align: center;
  /* align-items: center;
  justify-content: center; */
  justify-self: center;
  font-size: 1.5rem;
  border-radius: 20px;
  transition: 0.3s;
}

.emoji-showcase-element:hover {
  cursor: pointer;
  box-shadow: 0 0 20px black;
}

.input {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.main-footer {
  color: rgb(0, 0, 0);
  width: 100%;
  border-top: 1px solid black;
  margin-top: 5rem;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 20px;
  margin-right: 40px;
}

.social .fab {
  border-radius: 50%;
  color: rgb(10, 10, 10);
  text-align: center;
  padding: 0.5rem;
}
.social .fab:hover {
  background-color: white;
  cursor: pointer;
}

@media (max-width: 540px) {
  .App {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .heading {
    font-size: 1.3rem;
  }

  .description {
    width: 80%;
    margin: 10px auto;
    font-size: 1.2rem;
    text-align: justify;
  }

  .input {
    display: flex;
    flex-direction: column;
  }

  input {
    margin: 20px;
    padding: 15px;
    width: 80%;
    background: white;
    text-align: center;
    /* border: none; */
    border-radius: 20px;
    font-size: 1.2rem;
  }

  .clearButton {
    background-image: linear-gradient(to botton, #9bf8f5, #13e3ff);
    text-align: center;
  }
  .clearButton {
    width: 40%;
    margin: 20px auto;
    padding: 10px 25px;
    transition: none;
    background-size: 50px;
    border-radius: 10px;
  }

  .meaning {
    width: 80%;
    font-size: 1rem;
    text-align: center;
  }

  .emoji-showcase {
    width: 100%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }

  .emoji-showcase-element {
    margin: 5px;
    padding: 13px;
    font-size: 1.4rem;
    border-radius: 20px;
    transition: none;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-text {
    font-size: 1.2rem;
    margin: 10px auto;
  }
}
